.CardContainer {
    position: relative;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 1;
}

.Card {
    background: white;

    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;

    position: relative;
    padding: 10em 5em;
    border-radius: 5px 5px 20px 5px;

    transition: transform 750ms cubic-bezier(1,-0.52,0,1.59);
    transform-style: preserve-3d;

    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.CardFlip {
    transform: rotateY(.5turn);
}

.CardFront,
.CardBack {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    padding: 2rem;

    transform: translateZ(100px);
}

.CardBack {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.CardBackTechnologies {
    color: #7fffca;
}

.CardFront a,
.CardBack a {
    position: relative;
    display: block;
    color: rgb(255, 153, 0);
    text-decoration: none;
    padding-bottom: 0.5em;
    transition: transform 150ms ease-in-out;
}

.CardFront a::before,
.CardBack a::before {
    content: '→';
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateX(-110%);
    opacity: 0;
    transition: 
        transform 150ms ease-in-out,
        opacity 150ms ease-in-out;
}

.CardFront a:hover,
.CardBack a:hover {
    transform: translateX(1.5rem);
    text-decoration: underline;
}

.CardFront a:hover::before,
.CardBack a:hover::before {
    transform: translateX(-1.5rem);
    opacity: 1;
}

.CardImageButton {
    width: 100%;
    height: 50%;

    background-color: rgb(49, 49, 49);

    position: relative;

    margin-bottom: 1rem;

    border: none;
    border-radius: 5px;

    cursor: pointer;

    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);

    overflow: hidden;
}

.CardImage {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: auto;
}

.CardImageExpand {
    animation: pull 150ms linear forwards;
}

.CardImageContract {
    animation: pull 150ms linear backwards;
}

.CardBack {
    color: white;
    transform: rotateY(.5turn) translateZ(100px);
}

.CardBackBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(15 141 101);
    border-radius: 5px 5px 5px 20px;
    transform: rotateY(.5turn);
}

.CardTitle {
    font-family: 'Oswald', sans-serif;
    margin: 0 0 0.5em 0;
}

@keyframes pull {
    0%   { transform: translateY(0); }
    100% { transform: translateY(-100%); }
}
